/*
    Stylesheet for all the html tags related to the footer.php file
*/

footer {
    justify-content: center;
    align-items: center;
    margin: auto;
    display: flex;
    margin-top: 50px;
}

footer div {
    max-width: 1000px;
    margin: auto;
    text-align: center;
    width: 100%;
}

footer p {
    margin: 0 !important;
}

footer a {
    color: #333;
    text-decoration: none;
}

.footer-phone {
    font-size: 12px;
    margin-top: -12vh !important;
}

.footer-email {
    font-size: 12px;
}

.footer-title {
    font-size: 15px;
}

.footer-social {
    color: #333;
    font-size: 20px;
}

.footer-social p {
    margin-top: -10vh !important;
}

.footer-img img {
    height: 250px;
    margin-left: 40px;
}

.copy-right {
    padding: 0 0px 15px 0px;
    margin-top: 20px !important;
    color: #333;
    font-size: 12px;
}

@media (max-width: 35rem) {
    .copy-right {
        font-size: 10px;
    }

    .footer-img img {
        height: 200px;
    }

    .footer-phone {
        margin-top: -40px;
    }

    .sub-title {
        margin-top: 40px;
    }
}