/*
    Stylesheet for all the html tags related to the front-page.php file
*/

.home-wrapper-img {
    object-fit: cover;
    height: 450px !important;
    margin-right: 10px;
    margin-top: 10px;
}

.werkgebied-margin {
    margin-top: 5px;
}