.front-page{
    display: flex;
    flex-direction: column;
}

.seaweed-section-layout {
    width: 100%;
    height: 70vh;
}

.seaweed-section{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    max-width: 1210px;
    margin-top: 100px;
    margin-bottom: 50px;
}

.seaweed{
    box-sizing: border-box;
    width: 20vw;
    margin: 15px;
    align-items: center;
}

.seaweed-container-img{
    margin-top: -75px;
    margin-bottom: -50px;
}

.seaweed-container-txt{
    padding: 30px;
}

.container .seaweed-recepies-layout .seaweed-blog-layout{
    margin-top: 100px;
}

.main-footer {
    margin-top: 50px;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .seaweed-section{
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .seaweed{
        box-sizing: border-box;
        width: 80%;
        margin-bottom: 35px;
    }

    .seaweed-container-img{
        margin-top: -50px;
        margin-bottom: -50px;
    }

    .seaweed-container-img{
        width: 75%;
    }

    .inner-footer {
        display: flex;
        height: 500px;
        flex-direction: column;
        max-width: 1210px;
        padding: 0 10vw;
        margin: auto;
        justify-content: space-between;
    }

    .main-footer .footer-socials .social-container {
        margin-left: 0px;
        flex-direction: row;
        width: 75px;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
    }

    .footer-kop{
        width: fit-content;
    }

    .seaweed-reciepes-title{
        width: fit-content;
    }
}